.idea/*
\#*\#
*~
.coverage
coverage.xml
docs/build/
pep8.out
test_results.xml
__pycache__/
*.py[cod]
build/*
dist/*
*egg-info*
RPMS
SOURCES
BUILDROOT
.vagrant
.env
.env_python*
local_settings.py
.idea/*
.vscode
.tox
*.sqlite
.coverage*
npm-debug.log
*.swp
.pytest_cache
src/legislative_portal/lp_api/fixtures/legportal_fixtures.yaml
.python-version
docs/*.medusa-changelog.json
.tox
